/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: #282828;
    color: #ffffff;
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    background: #000000;
    background-image: url("https://i.pinimg.com/originals/64/a9/19/64a9196a102faf69e4ff8284cb3996ca.gif");
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    padding: 0 10%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: relative;
    z-index: 2;
    width: 90%;
}

.container {
    max-width: 50%;
}

.nav-container {
    max-width: 50%;
    align-self:center;
    text-align: right;
}

.nav-links {
    display: flex;
    flex-direction: column;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #272727;
    color: #ffffff;
}

/* Footer Styles */
footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}