/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #282828;
    color: #ffffff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    background: transparent; /* Make the background transparent */
    position: absolute; /* Position it absolutely */
    top: 0; /* At the top of the page */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it is above other content */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
}

.social-links a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #545454; /* Adjust color as needed */
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    background: url("https://i.pinimg.com/originals/64/a9/19/64a9196a102faf69e4ff8284cb3996ca.gif");
    display: flex;
    align-items: center;
    color: white;
    padding: 0 10%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
    max-width: 1200px;
}

.container {
    max-width: 50%;
    text-align: justify;
}

.nav-container {
    max-width: 50%;
    align-self: center;
    text-align: left;
}

.nav-links {
    display: flex;
    flex-direction: column;
}

.nav-links .btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 10px 30px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
}

.nav-links .btn:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #000000;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .container {
        max-width: 100%;
        text-align: center;
    }
    
    .nav-container {
        max-width: 100%;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
}
